<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Device History</title>
        <meta name="description" content="Device History">
        <meta name="author" content="KyleARector">
        <script type="text/javascript" src="/js/jquery-2.0.3.min.js"></script>
        <script>
            window.onload = function () {
                var json = JSON.parse(getURL("/sensors"));
                for (var i = 0, len = json.length; i < len; i++) {
                    if (json[i]["function"] == "switch" || json[i]["function"] == "dimmer" || json[i]["function"] == "motion" || json[i]["function"] == "contact") {
                        createOption(document.getElementById("deviceSelection"), json[i]["name"]);
                    }
                }
            }

            function createOption(context, name) {
                var option = document.createElement("option");
                option.textContent = name;
                option.value = name;
                context.appendChild(option);
            }

            function loadDeviceHistory() {
                var table = document.getElementById("historyTable");
                table.innerHTML = "";
                var select = document.getElementById("deviceSelection");
                var name = select.options[select.selectedIndex].text;
                var histString = getURL("/sensorHistory?sensor=" + name);
                histString = histString.replace(/"/g,"");
                var histArray = histString.slice(1, -1).split(",");
                for (var i = 0, len = histArray.length; i < len; i++) {
                    var tr = table.insertRow(i);
                    var cell = tr.insertCell(0);
                    cell.innerHTML = histArray[i];
                }
            }

            function getURL(url) {
                var req = new XMLHttpRequest();
                req.open("GET", url, false);
                req.send(null);
                return req.responseText;
            }
        </script>
    </head>
    <body>
        <select id="deviceSelection">
        </select>
        <button onclick="loadDeviceHistory()">Load</button>
        <table id="historyTable">
        </table>
    </body>
</html>
