<!doctype html>
<html lang="en">
    <head>
        <title>SmartPi</title>
        <link href="/css/interface.css" rel="stylesheet" type="text/css" />
        <link href="/css/flat-ui.css" rel="stylesheet" type="text/css" />
        <style>
            button {
                width:200px;
                height:50px;
                padding:20px;
            }
        </style>
        <script type="text/javascript" src="/js/jquery-2.0.3.min.js"></script>
        <script type="text/javascript" src="/js/interface.js"></script>
        <script>
            function buttonClick(name){
                var req = new XMLHttpRequest();
                req.open("GET",'/toggleSwitch?sensor=' + name + '&state=False',false);
                req.send(null);
            }

            function createButton(context, name){
                var button = document.createElement("button");
                button.type = "submit";
                button.innerHTML = name;
                button.onclick = function(){buttonClick(button.innerHTML);};
                context.appendChild(button);
            }

            function getURL(url){
                var req = new XMLHttpRequest(); // a new request
                req.open("GET",url,false);
                req.send(null);
                return req.responseText;
            }

            window.onload = function(){
                var json = JSON.parse(getURL("/sensors"));
                for (var i = 0, len = json.length; i < len; i++) {
                  createButton(document.body, json[i]["name"]);
                }
            }
        </script>
    </head>
    <body>

    </body>
</html>